In [101]:
!pip install pandas

Requirement already satisfied: pandas in /home/ruantmelo/.asdf/installs/python/3.11.6/lib/python3.11/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.23.2 in /home/ruantmelo/.asdf/installs/python/3.11.6/lib/python3.11/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ruantmelo/.asdf/installs/python/3.11.6/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/ruantmelo/.asdf/installs/python/3.11.6/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/ruantmelo/.asdf/installs/python/3.11.6/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/ruantmelo/.asdf/installs/python/3.11.6/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [102]:
import pandas as pd

In [103]:
df = pd.read_csv('diabetes_dataset.csv')
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148.0,72.0,35.0,NaN,33.6,0.627,50,1
1,1,85.0,66.0,29.0,NaN,26.6,0.351,31,0
2,8,183.0,64.0,NaN,NaN,23.3,0.672,32,1
3,0,137.0,40.0,35.0,168.0,43.1,2.288,33,1
4,5,116.0,74.0,NaN,NaN,25.6,0.201,30,0

In [104]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,572.000000,567.000000,537.000000,345.000000,198.000000,561.000000,572.000000,572.000000,572.000000
mean,4.106643,121.647266,73.150838,29.356522,156.934343,32.327629,0.459121,34.043706,0.358392
std,3.446995,30.132084,12.347184,10.433503,119.066934,6.735437,0.336124,12.103893,0.479948
min,0.000000,44.000000,30.000000,7.000000,16.000000,18.200000,0.078000,21.000000,0.000000
25%,1.000000,100.000000,65.000000,22.000000,77.500000,27.500000,0.236000,24.000000,0.000000
50%,3.000000,117.000000,72.000000,30.000000,129.500000,32.000000,0.344500,30.000000,0.000000
75%,6.000000,140.000000,80.000000,36.000000,185.000000,36.600000,0.605500,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,744.000000,57.300000,2.329000,81.000000,1.000000

In [105]:
df.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

### Remoção de colunas não utilizadas

In [106]:
df.pop('Pregnancies')
df.pop('Age')

0      50
1      31
2      32
3      33
4      30
       ..
567    33
568    27
569    30
570    47
571    23
Name: Age, Length: 572, dtype: int64

### Preenchimento da coluna Glucose

In [107]:
mean_glucose_sick = df[df['Outcome'] == 1]['Glucose'].mean().round(2)
mean_glucose_healthy = df[df['Outcome'] == 0]['Glucose'].mean().round(2)

print(f"Mean glucose level for sick patients: {mean_glucose_sick}")
print(f"Mean glucose level for healthy patients: {mean_glucose_healthy}")

# Replace missing values with the mean glucose level for the corresponding outcome
df.loc[(df['Outcome'] == 1) & (df['Glucose'].isnull()), 'Glucose'] = mean_glucose_sick
df.loc[(df['Outcome'] == 0) & (df['Glucose'].isnull()), 'Glucose'] = mean_glucose_healthy

Mean glucose level for sick patients: 141.01
Mean glucose level for healthy patients: 110.85

### Preenchimento da coluna Insulin

In [108]:
mean_insulin_sick = df[df['Outcome'] == 1]['Insulin'].mean().round(2)
mean_insulin_healthy = df[df['Outcome'] == 0]['Insulin'].mean().round(2)

print(f"Mean insulin level for sick patients: {mean_insulin_sick}")
print(f"Mean insulin level for healthy patients: {mean_insulin_healthy}")

# Replace missing values with the mean insulin level for the corresponding outcome
df.loc[(df['Outcome'] == 1) & (df['Insulin'].isnull()), 'Insulin'] = mean_insulin_sick
df.loc[(df['Outcome'] == 0) & (df['Insulin'].isnull()), 'Insulin'] = mean_insulin_healthy

df.head()

Mean insulin level for sick patients: 202.49
Mean insulin level for healthy patients: 133.63

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome
0,148.0,72.0,35.0,202.49,33.6,0.627,1
1,85.0,66.0,29.0,133.63,26.6,0.351,0
2,183.0,64.0,NaN,202.49,23.3,0.672,1
3,137.0,40.0,35.0,168.00,43.1,2.288,1
4,116.0,74.0,NaN,133.63,25.6,0.201,0

### Preenchimento da coluna SkinThickness

In [109]:
mean_skin_thickness_sick = df[df['Outcome'] == 1]['SkinThickness'].mean().round(2)
mean_skin_thickness_healthy = df[df['Outcome'] == 0]['SkinThickness'].mean().round(2)

print(f"Mean skin thickness for sick patients: {mean_skin_thickness_sick}")
print(f"Mean skin thickness for healthy patients: {mean_skin_thickness_healthy}")

# Replace missing values with the mean skin thickness for the corresponding outcome
df.loc[(df['Outcome'] == 1) & (df['SkinThickness'].isnull()), 'SkinThickness'] = mean_skin_thickness_sick
df.loc[(df['Outcome'] == 0) & (df['SkinThickness'].isnull()), 'SkinThickness'] = mean_skin_thickness_healthy

Mean skin thickness for sick patients: 33.03
Mean skin thickness for healthy patients: 27.47

### Preenchimento da coluna BloodPressure

In [110]:
mean_blodd_pressure_sick = df[df['Outcome'] == 1]['BloodPressure'].mean().round(2)
mean_blodd_pressure_healthy = df[df['Outcome'] == 0]['BloodPressure'].mean().round(2)

print(f"Mean blood pressure for sick patients: {mean_blodd_pressure_sick}")
print(f"Mean blood pressure for healthy patients: {mean_blodd_pressure_healthy}")

# Replace missing values with the mean blood pressure for the corresponding outcome
df.loc[(df['Outcome'] == 1) & (df['BloodPressure'].isnull()), 'BloodPressure'] = mean_blodd_pressure_sick
df.loc[(df['Outcome'] == 0) & (df['BloodPressure'].isnull()), 'BloodPressure'] = mean_blodd_pressure_healthy

Mean blood pressure for sick patients: 74.81
Mean blood pressure for healthy patients: 72.25

### Preenchimento da coluna BMI

In [111]:
mean_bmi = df['BMI'].mean().round(2)

print(f"Mean BMI: {mean_bmi}")

# Replace missing values with the mean BMI
df['BMI'].fillna(mean_bmi, inplace=True)

Mean BMI: 32.33

/tmp/ipykernel_12645/2491172513.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['BMI'].fillna(mean_bmi, inplace=True)

In [112]:
df.isnull().sum()

Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Outcome                     0
dtype: int64

## Normalização

In [113]:
df_normalized = df.copy() 
  
# apply normalization techniques 
for column in df_normalized.columns: 
    df_normalized[column] = (df_normalized[column] - df_normalized[column].min()) / (df_normalized[column].max() - df_normalized[column].min())     
  
df_normalized.head()

,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Outcome
0,0.670968,0.456522,0.304348,0.256168,0.393862,0.243892,1.0
1,0.264516,0.391304,0.239130,0.161580,0.214834,0.121279,0.0
2,0.896774,0.369565,0.282935,0.256168,0.130435,0.263883,1.0
3,0.600000,0.108696,0.304348,0.208791,0.636829,0.981786,1.0
4,0.464516,0.478261,0.222500,0.161580,0.189258,0.054642,0.0

In [114]:
df.to_csv('diabetes_dataset_pre_processed.csv', index=False)